@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-dark: #47709B;
  --color-brand-light: #AFC8DA;
  --color-brand-bg: #F3F4F6;
  
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
}

@layer base {
  body {
    @apply bg-brand-bg text-slate-900 font-sans;
  }
}

.markdown-body {
  @apply text-sm leading-relaxed;
}

